.header-section {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: rgb(5, 63, 121);
}
.body-section {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}